body {
    background-color: transparent;
    margin: 0;
}

#overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    transition:1.5s ease-in-out;
  }

  
  #content {
    padding: 20px;
    color: white;
  }
  
  #closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
  }
  
  /* Animation for the slide-in and slide-out effect */
  .slideIn {
    bottom: 0;
    
  }
  
  .slideOut {
    bottom: -60%;
  }